body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

.bg-navy {
    background-color: #1a252f !important;
}

.navbar {
    border-bottom: 3px solid #f39c12;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px;

}

.card-header {
    background-color: #0d6efd;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

#contenedorUsuarios .card {
    transition: transform 0.2s ease, box-shadow 0.2 ease;
    border: 1px solid #e2e8f0;
}

#contenedorUsuarios .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.badge-cargo {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    font-weight: 600;
    padding: 0.4em 0.8em;
}

.form-control:focus{
    border-color: #f39c12;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
}
.btn-warning{
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-warning:hover{
    background-color: #e67e22;
    border-color: #e67e22;
}